.skills-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    h1{
        text-align: center;
        margin-bottom: 1em;
    }
}
.skill-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    li{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (min-width:800px){
        display: flex;
        justify-content: space-between;
    }
}