.hero{

    padding: 12em 0;   
}

.hero-content{
    padding:20px;
    max-width: 1440px;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .intro{
        font-size: 6rem;
        font-weight: 700;
        margin-bottom: 25px;
    }
}
.roll{
    font-size: 2rem;
    margin-top: 25px;
    display: block;
    font-weight: 500;
    max-width: 600px;
    line-height: 1.5;
    span{
        color: rgb(39, 226, 120);
    }
}
