@mixin tablet-size {
    @media (min-width:750px){
        @content
    }
};

@mixin  desktop-size {
    @media (min-width:1024px) {
        @content
    }
}

.project-container{
    background-color: rgb(246, 247, 253);
    margin-bottom: 5em;
    padding-bottom: 5em;
}
.project-list{
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}
.title{
    text-align: center;
    margin-bottom: 1em;
    
}
.project-title{
    margin-bottom: 1em;
    font-size: 1.75rem;
    font-family: "Montserrat", sans-serif;
    color: #292b2c;
}
.primary-btn{
    padding: 10px 30px;
    background-color: #27E278;
    border: 2px solid #27E278;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;

    @include desktop-size(){
        font-size: 1.2rem;
    }

    
}

.primary-btn:hover{
    background-color: white;
    color: #27E278;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,
}
.sk{
    margin-bottom: 0.5em;
    font-size: 1.2rem;
}

img{
    width: clamp(250px, 100%, 1200px);
    margin-bottom: 0.75em;

}
.tech-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(130px,1fr));
    gap: 5px;
    margin-bottom: 1.5em;
}
.tech{
    background-color: blue;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    padding: 0.6em 5px;
  
    border: lightgray 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(250, 250, 250, 0.908);
    @include desktop-size(){
        font-size: 1.2rem;
    }

}
.project-description{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    margin-bottom: 0.75em;
    @include desktop-size(){
        font-size: 1.5rem;
    }
    
}
.btns{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 3em;
    
    @include tablet-size(){
        max-width: 800px;
        justify-content: unset;
        gap: 30px;
    }

}

.link-a{
    color: purple;
    text-decoration: underline;
}
