.contact-container{
    background-color: rgb(246, 247, 253);
    text-align: center;
    padding: 20px;
    padding-bottom: 10em;
    padding-top: 3em;
    
    h1{
        margin-bottom: 1em;
    }
}

.contact-form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 7px #DADDDA, 5px 5px 15px 5px rgba(0,0,0,0);
    @media (max-width:500px){
        padding: 20px;
    }
}

.submit{
    padding: 10px 30px;
    background-color: #27E278;
    border: 2px solid #27E278;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    width: 60%;
    margin: 0 auto;
}
.submit:hover{
    background-color: white;
    color: #27E278;
    
    transition:color .15s ease-in-out,background-color .15s ease-in-out,
}